In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Además de los decimales, del word, saca los valores que sirven la checkear que la carga es correcta
#Automatizando eso en una función, if True, then print('los datos están bien')
#Pide a Laura que te pase las tablas dinámicas
#INtenta construir una serie temporal para análisis
#Reproduce los análisis que han hecho en el WORD del estudio

cruce de variables dentro de la encuesta.

    Tasa Paro - Nªocupados (por trimestres) (En este caso la fuente es la EPA)
    Índice de pobreza según OCDE (anual)
    Gasto en agua y carga con respecto a ingresos
    Ingresos anuales - Gasto agua (abastecimiento y saneamiento / solo abastecimiento)
    Consumo agua (persona/litro) - Gasto agua (abastecimiento y saneamiento / solo abastecimiento

In [4]:
gastos_tabla = pd.read_csv('gastos_serie_completa.csv')
hogar_tabla = pd.read_csv('hogar_serie_completa.csv')

In [5]:
display(gastos_tabla.head(1))
print(gastos_tabla.shape)

display(hogar_tabla.head(1))
print(hogar_tabla.shape)

,Unnamed: 0,Unnamed: 0.1,ANOENC,NUMERO,CODIGO,GASTO,PORCEN,CANTIDAD,GASTMON,GASTNOM1,GASTNOM2,GASTNOM3,GASTNOM4,GASTNOM5,NACTOR
0,0,0,2009,1,1112,267539.46,0.0,92240.99,267539.46,NaN,NaN,NaN,NaN,NaN,707.602898

(10349975, 15)

,Unnamed: 0,Unnamed: 0.1,ANOENC,NUMERO,CCAA,NUTS1,CAPROV,TAMAMU,DENSI,CLAVE,...,IMPEXAC,IMPUEXAC,INTERIN,IMPU_INTER,NUMPERI,COMIMH,COMISD,COMIHU,COMIINV,COMITOT
0,0,0,2009,1,8,4,6,5,3,2,...,745.0,1,2,6,1.0,84.0,0.0,0.0,8.0,92.0

(107603, 176)

In [7]:
some_values = list(range(4511,4551))
gastos_filt = gastos_tabla.loc[gastos_tabla['CODIGO'].isin(some_values)]

In [15]:
print(gastos_filt.shape)
print(gastos_filt.columns)

(282546, 15)
Index(['Unnamed: 0', 'Unnamed: 0.1', 'ANOENC', 'NUMERO', 'CODIGO', 'GASTO',
       'PORCEN', 'CANTIDAD', 'GASTMON', 'GASTNOM1', 'GASTNOM2', 'GASTNOM3',
       'GASTNOM4', 'GASTNOM5', 'NACTOR'],
      dtype='object')

In [17]:
new_df = pd.merge(gastos_filt, hogar_tabla, how='left', on=['ANOENC','NUMERO'])

In [11]:
new_df.shape

(282546, 189)