In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import pymysql
from dotenv import load_dotenv
load_dotenv()

True

In [5]:
df = pd.read_excel('/home/fserrey/Downloads/dataset-datathon.xlsx')
df.head()

,Temperatura Servicio,vajilla,descripcion,maridaje,graduacion,lupulo_afrutado_citrico,lupulo_floral_herbal,amargor,color,maltoso,licoroso,afrutado,especias,acidez
0,4-6º,pilsner,"Cerveza de carácter único, inspirada en las La...",Pescados a la plancha o marinados,5.4,NaN,0.7,2.5,0.4,0.5,0.5,1.2,NaN,0.5
1,4-6º,tulip,"Cerveza de carácter único, inspirada en las La...",Pescados a la plancha o marinados,5.4,NaN,0.7,2.5,0.4,0.5,0.5,1.2,NaN,0.5
2,4-6º,tulip,"Cerveza dorada, de espuma cremosa y consistent...",Pescados a la plancha o marinados,5.5,NaN,0.7,2.5,0.4,0.5,1.4,1.3,NaN,0.3
3,4-6º,pilsner,"Cerveza dorada, de espuma cremosa y consistent...",Pescados a la plancha o marinados,5.5,NaN,0.7,2.5,0.5,0.5,0.7,1.3,NaN,NaN
4,4-6º,pilsner,La primera cerveza ecológica elaborada en España.,"Pescados y mariscos crudos,hervidos o al vapor.",5.4,NaN,0.6,2.6,0.4,0.6,NaN,1.1,NaN,0.4

In [2]:

hostname = os.environ["HOST_DO"]
username = os.environ["USERNAME_DO"]
password = os.environ["PASS_DO"]
database = os.environ["DATABASE_DO"] 
puerto = int(os.environ["PORT_DO"])

print("Using pymysql…")


con = pymysql.connect(hostname, username, 
    password, database)

with con:
    
    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    version = cur.fetchone()
    
    print("Database version: {}".format(version[0]))

Using pymysql…
Database version: 5.7.28-0ubuntu0.18.04.4

In [3]:
query = """
        SELECT ANOENC, COUNT(DISTINCT NUMERO) 
        FROM gastos_epf gastos
        GROUP BY ANOENC;
        """


conn = None
try:
    conn = pymysql.connect(hostname, username, password, database)
    cur = conn.cursor()
    cur.execute(query)
    
    # Set it as DF
    df = pd.read_sql(query, con=conn) 
    df.columns = execution.keys()
    
    cur.close()
    #conn.commit()
except (Exception, pymysql.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
print('finished')

name 'execution' is not defined
finished

In [4]:
df

    ANOENC  COUNT(DISTINCT NUMERO)
0     2006                   19435
1     2007                   21542
2     2008                   22077
3     2009                   22346
4     2010                   22203
5     2011                   21680
6     2012                   21808
7     2013                   22057
8     2014                   22146
9     2015                   22130
10    2016                   22010
11    2017                   22043
12    2018                   21395

In [ ]:
query = """
        SELECT gastos.ANOENC, (((((gastos.GASTO/1000)/12)/hogar.IMPEXACPSP)*100 > 5), 1, 0) as Flag, COUNT(Flag)
FROM aca_epf.gastos_epf gastos
LEFT JOIN aca_epf.hogar_epf hogar
ON gastos.NUMERO = hogar.NUMERO
WHERE CODIGO IN('04410')
and hogar.IMPEXACPSP != '-9'
group by 1,2;
        """


conn = None
try:
    conn = pymysql.connect(hostname, username, password, database)
    cur = conn.cursor()
    cur.execute(query)
    
    # Set it as DF
    df = pd.read_sql(query, con=conn) 
    df.columns = execution.keys()
    
    cur.close()
    #conn.commit()
except (Exception, pymysql.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
print('finished')

In [5]:
query = """
        SELECT  gasto.NUMERO,
                gasto.CODIGO, 
                gasto.ANOENC, 
                gasto.GASTO, 
                hogar.CCAA, 
                hogar.INTERINPSP,
                hogar.INTERIN,
                hogar.NMIEMB,
                hogar.REGTEN,
                hogar.ANNOCON,
                hogar.AGUACALI,
                hogar.NMIEM1
                FROM gastos_epf gasto
                LEFT JOIN hogar_epf hogar
                ON gasto.NUMERO = hogar.NUMERO
                WHERE CODIGO between '04511' and '04551';
        """


conn = None
try:
    conn = pymysql.connect(hostname, username, password, database)
    cur = conn.cursor()
    cur.execute(query)
    
    # Set it as DF
    df = pd.read_sql(query, con=conn) 
    df.columns = execution.keys()
    
    cur.close()
    #conn.commit()
except (Exception, pymysql.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
print('finished')

KeyboardInterrupt:

In [12]:
df_test = pd.read_csv('/home/fserrey/Documents/test.csv')

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
NUMERO              1000 non-null int64
CODIGO              1000 non-null int64
ANOENC              1000 non-null int64
gasto.GASTO/1000    1000 non-null float64
CCAA                1000 non-null int64
INTERINPSP          0 non-null float64
INTERIN             1000 non-null float64
NMIEMB              1000 non-null float64
REGTEN              1000 non-null float64
ANNOCON             1000 non-null float64
AGUACALI            1000 non-null float64
NMIEM1              1000 non-null float64
dtypes: float64(8), int64(4)
memory usage: 93.9 KB