In [3]:
import os
from dotenv import load_dotenv
load_dotenv()

hostname = os.environ["HOSTNAME"]
username = 'root'
password = os.environ["PASS"]
database = os.environ["DATABASE"] 


print("Using pymysql…")

import pymysql

con = pymysql.connect(hostname, username, 
    password, database)

with con:
    
    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    version = cur.fetchone()
    
    print("Database version: {}".format(version[0]))

Using pymysql…
Database version: 5.7.28-0ubuntu0.18.04.4

In [1]:
# SUBIDA A DROPLET - SERVER
import pandas as pd

In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

hostname = os.environ["HOST_DO"]
username = os.environ["USERNAME_DO"]
password = os.environ["PASS_DO"]
database = os.environ["DATABASE_DO"] 
puerto = int(os.environ["PORT_DO"])

print("Using pymysql…")

import pymysql

con = pymysql.connect(hostname, username, 
    password, database, puerto)

with con:
    
    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    version = cur.fetchone()
    
    print("Database version: {}".format(version[0]))

Using pymysql…
Database version: 5.7.29-0ubuntu0.18.04.1

In [2]:
for date in range(2006,2019):
    if date <2019:
        file = f'gastos_I_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/gastos/' + file

        query = f"""
                LOAD DATA LOCAL INFILE '{file_path}'
                INTO TABLE gastos_epf 
                FIELDS TERMINATED BY ',' 
                LINES TERMINATED BY '\n' 
                IGNORE 1 ROWS 
                (ANOENC, CANTIDAD, CODIGO, GASTMON, GASTNOM1, GASTNOM2, GASTNOM3, GASTNOM4, GASTNOM5, GASTO,NACTOR,NUMERO,PORCEN,PORCENDES,PORCENIMP);
                """
        conn = None
        try:
            conn = pymysql.connect(hostname, username, password, database,puerto, local_infile = 1)
            cur = conn.cursor()
            cur.execute(query)
            cur.close()
            conn.commit()
        except (Exception, pymysql.DatabaseError) as error:
            print(error)
        finally:
            if conn is not None:
                conn.close()
print('Tabla subida correctamente')

Tabla subida correctamente

In [6]:
for date in range(2006,2019):
    file = f'hogar_{date}.csv'
    file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
    df = pd.read_csv(file_path)
    print(date, len(df.columns))

2006 227
2007 227
2008 227
2009 227
2010 227
2011 227
2012 227
2013 227
2014 227
2015 227
2016 227
2017 227
2018 227

In [2]:
file = 'hogar_2006.csv'
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
df = pd.read_csv(file_path)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_06 =  type_dct['float64']
int_hogar_06 = type_dct['int64']

print('---------------------')
print('---------------------')

file = 'hogar_2011.csv'
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
df = pd.read_csv(file_path)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_11 = type_dct['float64']
int_hogar_11 = type_dct['int64']

print('---------------------')
print('---------------------')

file = 'hogar_2016.csv'
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
df = pd.read_csv(file_path)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_16 = type_dct['float64']
int_hogar_16 = type_dct['int64']

---------------------
---------------------
---------------------
---------------------

In [3]:
print(len(int_hogar_06))
print(len(int_hogar_11))
print(len(int_hogar_16))

print(len(float_hogar_06))
print(len(float_hogar_11))
print(len(float_hogar_16))

1
1
1
227
227
227

In [4]:
add_int_06 = [i for i in int_hogar_16 + int_hogar_11 if i not in int_hogar_06] 
add_int_11 = [i for i in int_hogar_06 + int_hogar_16 if i not in int_hogar_11] 
add_int_16 = [i for i in int_hogar_06 + int_hogar_11 if i not in int_hogar_16] 


add_float_06 = [i for i in float_hogar_16 + float_hogar_11 if i not in float_hogar_06] 
add_float_11 = [i for i in float_hogar_06 + float_hogar_16 if i not in float_hogar_11] 
add_float_16 = [i for i in float_hogar_06 + float_hogar_11 if i not in float_hogar_16]

In [5]:
print(len(add_int_06))
print(len(add_int_11))
print(len(add_int_16))

print(len(add_float_06))
print(len(add_float_11))
print(len(add_float_16))

0
0
0
0
0
0

In [6]:
total_int_06 = int_hogar_06 + add_int_06
total_int_11 = int_hogar_11 + add_int_11
total_int_16 = int_hogar_16 + add_int_16

total_float_06 = float_hogar_06 + add_float_06
total_float_11 = float_hogar_11 + add_float_11
total_float_16 = float_hogar_16 + add_float_16


print(set(total_int_16) == set(total_int_06) == set(total_int_11))
print(set(total_float_16) == set(total_float_06) == set(total_float_11))
print(len(set(total_int_16)))
print(len(set(total_float_16)))
print(len(set(total_int_16)) + len(set(total_float_16)))

True
True
1
227
228

In [34]:
# Incorporamos las columnas en las

In [7]:
columnas =  [i for i in set(total_int_06) if i not in set(list(df.columns))] 

column = list(df.columns)
print(len(columnas) + len(column))
len(list(filter(lambda x: x not in set(columnas), column)))

228

228

In [114]:
columnas = set(add_int_06 + add_float_06)
df_aux = pd.DataFrame(columns=columnas)
df_aux.head()

file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + 'hogar_2006.csv'
df = pd.read_csv(file_path)

for i in df_aux.columns:
    if i in df.columns:
        print(True)

True

In [4]:
#actualización columnas 2006-2011
for date in range(2006,2011):
    if date <2011:
        file = f'hogar_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file

        id_d = 'id_d'
        df = pd.read_csv(file_path)

        columnas = [i for i in set(total_int_06+total_float_06) if i not in set(list(df.columns))] 

        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
            
        df_aux.to_csv(file_path, index=False)

NameError: name 'total_int_06' is not defined

In [133]:
#actualización de columnas 2011 - 2016
for date in range(2011,2016):
    if date <2016:
        file = f'hogar_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file

        id_d = 'id_d'

        df = pd.read_csv(file_path)

        columnas =  [i for i in set(total_int_11+total_float_11) if i not in set(list(df.columns))] 

        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        
        df_aux.to_csv(file_path, index=False)

In [134]:
#actualización de columnas 2016 - 2019

for date in range(2016,2019):
    if date <2019:
        file = f'hogar_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
 
        id_d = 'id_d'
   
        df = pd.read_csv(file_path)

        columnas =  [i for i in set(total_int_16+total_float_16) if i not in set(list(df.columns))] 

        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        
        df_aux.to_csv(file_path, index=False)

In [13]:
file = 'hogar_2006.csv'
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file

df = pd.read_csv(file_path)
df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str)

In [15]:
df[['id_d', 'ANOENC', 'NUMERO']]
len(df.columns)

228

In [16]:
##
# AÑADIENDO columna de ide primary key
for date in range(2006,2019):
    if date <2019:
        file = f'hogar_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file
        
        df = pd.read_csv(file_path)
        print(date, len(df.columns))
        
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
            
        df.to_csv(file_path, index=False)
        print(date, len(df.columns))
print('Tablas hogar actualizadas')
for date in range(2006,2019):
    if date <2019:
        file = f'gastos_I_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/gastos/' + file
        
        df = pd.read_csv(file_path)
        print(date, len(df.columns))
        
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
            
        df.to_csv(file_path, index=False)
        print(date, len(df.columns))
print('Tablas gastos actualizadas')

2006 227
2006 228
Tablas hogar actualizadas
2007 227
2007 228
Tablas hogar actualizadas
2008 227
2008 228
Tablas hogar actualizadas
2009 227
2009 228
Tablas hogar actualizadas
2010 227
2010 228
Tablas hogar actualizadas
2011 227
2011 228
Tablas hogar actualizadas
2012 227
2012 228
Tablas hogar actualizadas
2013 227
2013 228
Tablas hogar actualizadas
2014 227
2014 228
Tablas hogar actualizadas
2015 227
2015 228
Tablas hogar actualizadas
2016 227
2016 228
Tablas hogar actualizadas
2017 227
2017 228
Tablas hogar actualizadas
2018 227
2018 228
Tablas hogar actualizadas
2006 15
2006 16
Tablas gastos actualizadas
2007 15
2007 16
Tablas gastos actualizadas
2008 15
2008 16
Tablas gastos actualizadas
2009 15
2009 16
Tablas gastos actualizadas
2010 15
2010 16
Tablas gastos actualizadas
2011 15
2011 16
Tablas gastos actualizadas
2012 15
2012 16
Tablas gastos actualizadas
2013 15
2013 16
Tablas gastos actualizadas
2014 15
2014 16
Tablas gastos actualizadas
2015 15
2015 16
Tablas gastos actualizadas
2016 15
2016 16
Tablas gastos actualizadas
2017 15
2017 16
Tablas gastos actualizadas
2018 15
2018 16
Tablas gastos actualizadas

In [18]:
file_18 = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + 'hogar_2018.csv'
file_06 = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + 'hogar_2006.csv'

df_18 = pd.read_csv(file_18)
df.columns

Index(['ANOENC', 'CANTIDAD', 'CODIGO', 'GASTMON', 'GASTNOM1', 'GASTNOM2',
       'GASTNOM3', 'GASTNOM4', 'GASTNOM5', 'GASTO', 'NACTOR', 'NUMERO',
       'PORCEN', 'PORCENDES', 'PORCENIMP', 'id_d'],
      dtype='object')

In [154]:
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + 'hogar_2018.csv'
df = pd.read_csv(file_path)
df.OTROIN
df.NACTOR

0        4.228666e+08
1        2.051952e+09
2        1.349188e+09
3        1.200013e+09
4        8.876608e+08
             ...
21390    9.567312e+08
21391    1.230268e+09
21392    6.502779e+08
21393    4.838122e+08
21394    2.659258e+08
Name: NACTOR, Length: 21395, dtype: float64

In [147]:
file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + 'hogar_2018.csv'
df = pd.read_csv(file_path)

type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar = type_dct['float64']

with open('columnas_hogar.txt', 'w') as f:
    for item in list(float_hogar):
        f.write("%s VARCHAR(10),\n" % item)
with open('columnas_hogar_2.txt', 'w') as f:
    for item in list(float_hogar):
        f.write("%s, " % item)

In [155]:
import pymysql

query = """
        CREATE TABLE hogar_epf
        (
            id SERIAL,
            ACTESTB VARCHAR(10),
            ACTESTBRED VARCHAR(10),
            ACTESTB_RED VARCHAR(10),
            AGUACALI VARCHAR(10),
            AGUACV1 VARCHAR(10),
            AGUACV2 VARCHAR(10),
            AGUACV3 VARCHAR(10),
            AGUACV4 VARCHAR(10),
            AGUACV5 VARCHAR(10),
            AGUACV6 VARCHAR(10),
            AGUACV7 VARCHAR(10),
            AGUACV8 VARCHAR(10),
            AGUACV9 VARCHAR(10),
            ANNOCON VARCHAR(10),
            ANOENC INTEGER,
            CAJENA VARCHAR(10),
            CALEF VARCHAR(10),
            CALEFV1 VARCHAR(10),
            CALEFV2 VARCHAR(10),
            CALEFV3 VARCHAR(10),
            CALEFV4 VARCHAR(10),
            CALEFV5 VARCHAR(10),
            CALEFV6 VARCHAR(10),
            CALEFV7 VARCHAR(10),
            CALEFV8 VARCHAR(10),
            CALEFV9 VARCHAR(10),
            CAPROP VARCHAR(10),
            CAPROV VARCHAR(10),
            CCAA INTEGER,
            CLATEO VARCHAR(10),
            CLAVE VARCHAR(10),
            COMIHU VARCHAR(10),
            COMIINV VARCHAR(10),
            COMIMH VARCHAR(10),
            COMISD VARCHAR(10),
            COMITOT VARCHAR(10),
            CONTRATO VARCHAR(10),
            CONVIVENCIASP VARCHAR(10),
            DENSI VARCHAR(10),
            DENSIDAD VARCHAR(10),
            DESEM VARCHAR(10),
            DIASV1 VARCHAR(10),
            DIASV2 VARCHAR(10),
            DIASV3 VARCHAR(10),
            DIASV4 VARCHAR(10),
            DIASV5 VARCHAR(10),
            DIASV6 VARCHAR(10),
            DIASV7 VARCHAR(10),
            DIASV8 VARCHAR(10),
            DIASV9 VARCHAR(10),
            DISPOSIOV VARCHAR(10),
            DISPOSI_OV VARCHAR(10),
            ECIVILLEGALSP VARCHAR(10),
            ECIVILSP VARCHAR(10),
            EDADSP VARCHAR(10),
            ESTUDIOSSP VARCHAR(10),
            ESTUDIOS_SP VARCHAR(10),
            ESTUDREDSP VARCHAR(10),
            ESTUDRED_SP VARCHAR(10),
            FUENACV1 VARCHAR(10),
            FUENACV2 VARCHAR(10),
            FUENACV3 VARCHAR(10),
            FUENACV4 VARCHAR(10),
            FUENACV5 VARCHAR(10),
            FUENACV6 VARCHAR(10),
            FUENACV7 VARCHAR(10),
            FUENACV8 VARCHAR(10),
            FUENACV9 VARCHAR(10),
            FUENAGUA VARCHAR(10),
            FUENCALE VARCHAR(10),
            FUENCAV1 VARCHAR(10),
            FUENCAV2 VARCHAR(10),
            FUENCAV3 VARCHAR(10),
            FUENCAV4 VARCHAR(10),
            FUENCAV5 VARCHAR(10),
            FUENCAV6 VARCHAR(10),
            FUENCAV7 VARCHAR(10),
            FUENCAV8 VARCHAR(10),
            FUENCAV9 VARCHAR(10),
            FUENPRIN VARCHAR(10),
            FUENPRINRED VARCHAR(10),
            FUENPRIN_RED VARCHAR(10),
            GASTMON VARCHAR(20),
            GASTNOM1 VARCHAR(20),
            GASTNOM2 VARCHAR(20),
            GASTNOM3 VARCHAR(20),
            GASTNOM4 VARCHAR(20),
            GASTOT VARCHAR(20),
            IMPEXAC VARCHAR(10),
            IMPEXACPSP VARCHAR(10),
            IMPEXACP_SP VARCHAR(10),
            IMPUEXAC VARCHAR(10),
            IMPUEXACPSP VARCHAR(10),
            IMPUEXACP_SP VARCHAR(10),
            IMPUINTER VARCHAR(10),
            IMPUINTERPSP VARCHAR(10),
            IMPUTGAS VARCHAR(10),
            IMPU_INTER VARCHAR(10),
            IMPU_INTERPSP VARCHAR(10),
            INTERIN VARCHAR(10),
            INTERINPSP VARCHAR(10),
            INTERINP_SP VARCHAR(10),
            JORNADASP VARCHAR(10),
            MESESV1 VARCHAR(10),
            MESESV2 VARCHAR(10),
            MESESV3 VARCHAR(10),
            MESESV4 VARCHAR(10),
            MESESV5 VARCHAR(10),
            MESESV6 VARCHAR(10),
            MESESV7 VARCHAR(10),
            MESESV8 VARCHAR(10),
            MESESV9 VARCHAR(10),
            NACIONASP VARCHAR(10),
            NACIONA_SP VARCHAR(10),
            NACTOR VARCHAR(50),
            NHABIT VARCHAR(10),
            NHIJOSD VARCHAR(10),
            NMIEM1 VARCHAR(10),
            NMIEM10 VARCHAR(9),
            NMIEM11 VARCHAR(9),
            NMIEM12 VARCHAR(9),
            NMIEM13 VARCHAR(9),
            NMIEM2 VARCHAR(9),
            NMIEM3 VARCHAR(9),
            NMIEM4 VARCHAR(9),
            NMIEM5 VARCHAR(9),
            NMIEM6 VARCHAR(9),
            NMIEM7 VARCHAR(9),
            NMIEM8 VARCHAR(9),
            NMIEM9 VARCHAR(9),
            NMIEMB VARCHAR(9),
            NMIEMHU VARCHAR(10),
            NMIEMIN VARCHAR(10),
            NMIEMSD VARCHAR(10),
            NNINOSD VARCHAR(10),
            NORDENCOSP VARCHAR(10),
            NORDENCO_SP VARCHAR(10),
            NORDENMASP VARCHAR(10),
            NORDENMA_SP VARCHAR(10),
            NORDENPASP VARCHAR(10),
            NORDENPA_SP VARCHAR(10),
            NORDENSP VARCHAR(10),
            NUMACTI VARCHAR(10),
            NUMERO INTEGER,
            NUMESTU VARCHAR(10),
            NUMINACTI VARCHAR(10),
            NUMNOCUP VARCHAR(10),
            NUMNOESTU VARCHAR(10),
            NUMOCUP VARCHAR(10),
            NUMOVD VARCHAR(10),
            NUMPERI VARCHAR(10),
            NUTS1 VARCHAR(10),
            OCUPA VARCHAR(10),
            OCUPARED VARCHAR(10),
            OCUSP VARCHAR(10),
            OTROIN INTEGER,
            OTRSUB VARCHAR(10),
            PAISCODSP VARCHAR(9),
            PAISMADRESP VARCHAR(9),
            PAISNACODSP VARCHAR(9),
            PAISNACSP VARCHAR(9),
            PAISPADRESP VARCHAR(9),
            PAISSP VARCHAR(9),
            PENSIO VARCHAR(10),
            PERCEPSP VARCHAR(10),
            PF2RECO VARCHAR(10),
            PF2TEO VARCHAR(10),
            REGTEN VARCHAR(10),
            REGTENV1 VARCHAR(10),
            REGTENV2 VARCHAR(10),
            REGTENV3 VARCHAR(10),
            REGTENV4 VARCHAR(10),
            REGTENV5 VARCHAR(10),
            REGTENV6 VARCHAR(10),
            REGTENV7 VARCHAR(10),
            REGTENV8 VARCHAR(10),
            REGTENV9 VARCHAR(10),
            RENTAS VARCHAR(10),
            SECTOR VARCHAR(10),
            SEXOSP VARCHAR(10),
            SITPROF VARCHAR(10),
            SITSOCI VARCHAR(10),
            SITSOCIRE VARCHAR(10),
            SITSOCI_RE VARCHAR(10),
            SITUACTHOG VARCHAR(10),
            SITUACTSP VARCHAR(10),
            SITUACT_HOG VARCHAR(10),
            SITUACT_SP VARCHAR(10),
            SITUOCUHOG VARCHAR(10),
            SITUOCU_HOG VARCHAR(10),
            SITUREDSP VARCHAR(10),
            SITURED_SP VARCHAR(10),
            SITURESSP VARCHAR(10),
            SITURES_SP VARCHAR(10),
            SUPERF VARCHAR(10),
            TAMAMU VARCHAR(10),
            TAMANO VARCHAR(10),
            TIPHOGAR1 VARCHAR(9),
            TIPHOGAR10 VARCHAR(9),
            TIPHOGAR11 VARCHAR(9),
            TIPHOGAR2 VARCHAR(9),
            TIPHOGAR3 VARCHAR(9),
            TIPHOGAR4 VARCHAR(9),
            TIPHOGAR5 VARCHAR(9),
            TIPHOGAR6 VARCHAR(9),
            TIPHOGAR7 VARCHAR(9),
            TIPHOGAR8 VARCHAR(9),
            TIPHOGAR9 VARCHAR(9),
            TIPHOGAR_1 VARCHAR(9),
            TIPHOGAR_10 VARCHAR(9),
            TIPHOGAR_11 VARCHAR(9),
            TIPHOGAR_2 VARCHAR(9),
            TIPHOGAR_3 VARCHAR(9),
            TIPHOGAR_4 VARCHAR(9),
            TIPHOGAR_5 VARCHAR(9),
            TIPHOGAR_6 VARCHAR(9),
            TIPHOGAR_7 VARCHAR(9),
            TIPHOGAR_8 VARCHAR(9),
            TIPHOGAR_9 VARCHAR(9),
            TIPOCASA VARCHAR(9),
            TIPOCONT VARCHAR(9),
            TIPOEDIF VARCHAR(9),
            TRABAJO VARCHAR(9),
            UC1 VARCHAR(10),
            UC2 VARCHAR(10),
            UNIONSP VARCHAR(10),
            ZONARES VARCHAR(10),
            CONSTRAINT indicators_pkey PRIMARY KEY (id)
        ) """



con = pymysql.connect(hostname, username, 
    password, database)


with con:
    
    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    version = cur.fetchone()
    
    print("Database version: {}".format(version[0]))


conn = None
try:
    # We connect to the PostgreSQL server
    conn = pymysql.connect(hostname, username, password, database)
    cur = conn.cursor()
    # We create the table
    cur.execute(query)
    # We close the connection
    cur.close()
    # Finally, we commit the changes
    conn.commit()
except (Exception, pymysql.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
print('finished')
#VARCHAR(21845)

Database version: 5.7.28-0ubuntu0.18.04.4
finished

In [3]:
for date in range(2006,2019):
    if date <2019:
        file = f'hogar_{date}.csv'
        file_path = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/hogar/' + file

        query = f"""
                LOAD DATA LOCAL INFILE '{file_path}'
                INTO TABLE hogar_epf 
                FIELDS TERMINATED BY ',' 
                LINES TERMINATED BY '\n' 
                IGNORE 1 ROWS 
                (ACTESTB, ACTESTBRED, ACTESTB_RED, AGUACALI, AGUACV1, AGUACV2, AGUACV3, AGUACV4, AGUACV5, AGUACV6, AGUACV7, AGUACV8, AGUACV9, ANNOCON, ANOENC, CAJENA, CALEF, CALEFV1, CALEFV2, CALEFV3, CALEFV4, CALEFV5, CALEFV6, CALEFV7, CALEFV8, CALEFV9, CAPROP, CAPROV, CCAA, CLATEO, CLAVE, COMIHU, COMIINV, COMIMH, COMISD, COMITOT, CONTRATO, CONVIVENCIASP, DENSI, DENSIDAD, DESEM, DIASV1, DIASV2, DIASV3, DIASV4, DIASV5, DIASV6, DIASV7, DIASV8, DIASV9, DISPOSIOV, DISPOSI_OV, ECIVILLEGALSP, ECIVILSP, EDADSP, ESTUDIOSSP, ESTUDIOS_SP, ESTUDREDSP, ESTUDRED_SP, FUENACV1, FUENACV2, FUENACV3, FUENACV4, FUENACV5, FUENACV6, FUENACV7, FUENACV8, FUENACV9, FUENAGUA, FUENCALE, FUENCAV1, FUENCAV2, FUENCAV3, FUENCAV4, FUENCAV5, FUENCAV6, FUENCAV7, FUENCAV8, FUENCAV9, FUENPRIN, FUENPRINRED, FUENPRIN_RED, GASTMON, GASTNOM1, GASTNOM2, GASTNOM3, GASTNOM4, GASTOT, IMPEXAC, IMPEXACPSP, IMPEXACP_SP, IMPUEXAC, IMPUEXACPSP, IMPUEXACP_SP, IMPUINTER, IMPUINTERPSP, IMPUTGAS, IMPU_INTER, IMPU_INTERPSP, INTERIN, INTERINPSP, INTERINP_SP, JORNADASP, MESESV1, MESESV2, MESESV3, MESESV4, MESESV5, MESESV6, MESESV7, MESESV8, MESESV9, NACIONASP, NACIONA_SP, NACTOR, NHABIT, NHIJOSD, NMIEM1, NMIEM10, NMIEM11, NMIEM12, NMIEM13, NMIEM2, NMIEM3, NMIEM4, NMIEM5, NMIEM6, NMIEM7, NMIEM8, NMIEM9, NMIEMB, NMIEMHU, NMIEMIN, NMIEMSD, NNINOSD, NORDENCOSP, NORDENCO_SP, NORDENMASP, NORDENMA_SP, NORDENPASP, NORDENPA_SP, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOCUP, NUMNOESTU, NUMOCUP, NUMOVD, NUMPERI, NUTS1, OCUPA, OCUPARED, OCUSP, OTROIN, OTRSUB, PAISCODSP, PAISMADRESP, PAISNACODSP, PAISNACSP, PAISPADRESP, PAISSP, PENSIO, PERCEPSP, PF2RECO, PF2TEO, REGTEN, REGTENV1, REGTENV2, REGTENV3, REGTENV4, REGTENV5, REGTENV6, REGTENV7, REGTENV8, REGTENV9, RENTAS, SECTOR, SEXOSP, SITPROF, SITSOCI, SITSOCIRE, SITSOCI_RE, SITUACTHOG, SITUACTSP, SITUACT_HOG, SITUACT_SP, SITUOCUHOG, SITUOCU_HOG, SITUREDSP, SITURED_SP, SITURESSP, SITURES_SP, SUPERF, TAMAMU, TAMANO, TIPHOGAR1, TIPHOGAR10, TIPHOGAR11, TIPHOGAR2, TIPHOGAR3, TIPHOGAR4, TIPHOGAR5, TIPHOGAR6, TIPHOGAR7, TIPHOGAR8, TIPHOGAR9, TIPHOGAR_1, TIPHOGAR_10, TIPHOGAR_11, TIPHOGAR_2, TIPHOGAR_3, TIPHOGAR_4, TIPHOGAR_5, TIPHOGAR_6, TIPHOGAR_7, TIPHOGAR_8, TIPHOGAR_9, TIPOCASA, TIPOCONT, TIPOEDIF, TRABAJO, UC1, UC2, UNIONSP, ZONARES);
                """
        conn = None
        try:
            conn = pymysql.connect(hostname, username, password, database, local_infile = 1)
            cur = conn.cursor()
            cur.execute(query)
            cur.close()
            conn.commit()
            print(f'Tabla {date} subida')
        except (Exception, pymysql.DatabaseError) as error:
            print(error)
        finally:
            if conn is not None:
                conn.close()
print('Tabla subida correctamente')

Tabla 2006 subida
Tabla 2007 subida
Tabla 2008 subida
Tabla 2009 subida
Tabla 2010 subida

/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 1")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 2")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 3")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 4")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 5")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 6")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 7")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 8")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 9")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 10")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 11")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 12")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 13")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 14")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 15")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 16")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 17")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 18")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 19")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 20")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 21")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 22")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 23")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 24")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 25")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 26")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 27")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 28")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 29")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 30")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 31")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 32")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 33")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 34")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 35")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 36")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 37")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 38")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 39")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 40")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 41")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 42")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 43")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 44")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 45")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 46")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 47")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 48")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 49")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 50")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 51")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 52")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 53")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 54")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 55")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 56")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 57")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 58")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 59")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 60")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 61")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 62")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 63")
  result = self._query(query)
/home/fserrey/miniconda3/envs/aca/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1264, "Out of range value for column 'OTROIN' at row 64")
  result = self._query(query)

Tabla 2011 subida
Tabla 2012 subida
Tabla 2013 subida
Tabla 2014 subida
Tabla 2015 subida
Tabla 2016 subida
Tabla 2017 subida
Tabla 2018 subida
Tabla subida correctamente