In [2]:
import os
from dotenv import load_dotenv
load_dotenv()

hostname = os.environ["HOST_DO"]
username = os.environ["USERNAME_DO"]
password = os.environ["PASS_DO"]
database = os.environ["DATABASE_DO"] 
puerto = int(os.environ["PORT_DO"])

print("Using pymysql…")

import pymysql

con = pymysql.connect(hostname, username, 
    password, database, puerto)

with con:
    
    cur = con.cursor()
    cur.execute("SELECT VERSION()")

    version = cur.fetchone()
    
    print("Database version: {}".format(version[0]))

Using pymysql…
Database version: 5.7.29-0ubuntu0.18.04.1

In [ ]:
query_db_use = """USE aca_epf;"""
query = """
        SELECT gasto.ANOENC,gasto.CODIGO, CASE WHEN(((gasto.GASTO/12)/hogar.IMPEXAC)*100 > 5) THEN 1 ELSE 0 END FLAG
        FROM aca_epf.gastos_ine gasto
        LEFT JOIN (SELECT hogar_ine.id_d ,hogar_ine.ANOENC, hogar_ine.IMPEXAC 
        FROM hogar_ine ) hogar ON gasto.id_d = hogar.id_d
        WHERE CODIGO between '04511' and '04551';"""
conn = None
try:
    conn = pymysql.connect(hostname, username, password, database,puerto, local_infile = 1)
    cur = conn.cursor()
    cur.execute(query_db_use)
    print('starting')
    cur.execute(query)
    print('query executed - turning to df')
# Set it as DF
    df = pd.read_sql(query, con=conn) 
    df.columns = execution.keys()
    cur.close()

except (Exception, pymysql.DatabaseError) as error:
    print(error)
finally:
    if conn is not None:
        conn.close()
print('df ended correctamente')

starting

In [ ]:
df.head()

In [ ]:
SELECT gasto.ANOENC,
        gasto.CODIGO, 
        CASE WHEN(((gasto.GASTO/12)/hogar.IMPEXAC)*100 > 5) THEN 1 ELSE 0 END FLAG
FROM aca_epf.gastos_ine gasto
LEFT JOIN (
        SELECT hogar_ine.id_d ,
                hogar_ine.ANOENC, 
                hogar_ine.IMPEXAC 
        FROM hogar_ine ) hogar 
ON gasto.id_d = hogar.id_d
WHERE CODIGO between '04511' and '04551';