In [19]:
import pandas as pd
import os, errno

# This file will normalize/Transform tables format in order to make it feasible to upload them to our DB

# INE microdata format and features have changed over time. INE states 3 different types:
## From 2006 to 2010
## From 2011 to 2015
## From 2016 till NOW (2020)

# It's importat that all our tables has same format and shape

#############################################################################

# We first classify our features in FLOAT or INT

directory_hogar = os.path.join(os.path.dirname(os.path.abspath('__file__')), 'epf_folder', 'tablas_hogar')
filelist_hogar = os.listdir(directory_hogar)
print(directory_hogar)
print(filelist_hogar)

/home/fserrey/gitrep/ACA_project/aca-water-affordability/src/epf_folder/tablas_hogar
['hogar_2016.csv', 'hogar_2017.csv', 'hogar_2009.csv', 'hogar_2006.csv', 'hogar_2018.csv', 'hogar_2010.csv', 'hogar_2008.csv', 'hogar_2007.csv', 'hogar_2015.csv', 'hogar_2012.csv', 'hogar_2011.csv', 'hogar_2014.csv', 'hogar_2013.csv']

In [28]:
file_06 = [os.path.join(directory_hogar,i) for i in filelist_hogar if '2006.csv' in i][0]

df = pd.read_csv(file_06)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_06 =  type_dct['float64']
int_hogar_06 = type_dct['int64']


file_11 = [os.path.join(directory_hogar,i) for i in filelist_hogar if '2011.csv' in i][0]

df = pd.read_csv(file_11)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_11 = type_dct['float64']
int_hogar_11 = type_dct['int64']


file_16 = [os.path.join(directory_hogar,i) for i in filelist_hogar if '2016.csv' in i][0]

df = pd.read_csv(file_16)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_hogar_16 = type_dct['float64']
int_hogar_16 = type_dct['int64']

In [29]:
# For both IN and FLOAT we filter by all features that are needed in each group of files

add_int_06 = [i for i in int_hogar_16 + int_hogar_11 if i not in int_hogar_06] 
add_int_11 = [i for i in int_hogar_06 + int_hogar_16 if i not in int_hogar_11] 
add_int_16 = [i for i in int_hogar_06 + int_hogar_11 if i not in int_hogar_16] 


add_float_06 = [i for i in float_hogar_16 + float_hogar_11 if i not in float_hogar_06] 
add_float_11 = [i for i in float_hogar_06 + float_hogar_16 if i not in float_hogar_11] 
add_float_16 = [i for i in float_hogar_06 + float_hogar_11 if i not in float_hogar_16]

# Creamos las variables que conforman el total de columnas necesarias para cada tabla

total_int_06 = int_hogar_06 + add_int_06
total_int_11 = int_hogar_11 + add_int_11
total_int_16 = int_hogar_16 + add_int_16

total_float_06 = float_hogar_06 + add_float_06
total_float_11 = float_hogar_11 + add_float_11
total_float_16 = float_hogar_16 + add_float_16

In [32]:
# If INE change the grupos again, just add a new elif and move the range for the else

for date in range(2006,2019):
    if date <2011:
        file_path = [os.path.join(directory_hogar,i) for i in filelist_hogar if f'{date}.csv' in i]      
        df = pd.read_csv(file_path[0])
        columnas = [i for i in set(total_int_06+total_float_06) if i not in set(list(df.columns))]
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'hogar_epf_{date}.csv'), index=False)
    
    elif date in range(2011,2016):
        file_path = [os.path.join(directory_hogar,i) for i in filelist_hogar if f'{date}.csv' in i]        
        df = pd.read_csv(file_path[0])
        columnas =  [i for i in set(total_int_11+total_float_11) if i not in set(list(df.columns))]  
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'hogar_epf_{date}.csv'), index=False)
    
    else:
        file_path = [os.path.join(directory_hogar,i) for i in filelist_hogar if f'{date}.csv' in i]        
        df = pd.read_csv(file_path[0])
        columnas =  [i for i in set(total_int_16+total_float_16) if i not in set(list(df.columns))]  
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'hogar_epf_{date}.csv'), index=False)
    
###########################################################

In [33]:
# We now do the same with GASTOS
directory_gastos = os.path.join(os.path.dirname(os.path.abspath('__file__')), 'epf_folder', 'tablas_gastos')
filelist_gastos = os.listdir(directory_gastos)


file_06 = [os.path.join(directory_gastos,i) for i in filelist_gastos if '2006.csv' in i][0]

df = pd.read_csv(file_06)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_gastos_06 =  type_dct['float64']
int_gastos_06 = type_dct['int64']


file_11 = [os.path.join(directory_gastos,i) for i in filelist_gastos if '2011.csv' in i][0]

df = pd.read_csv(file_11)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_gastos_11 = type_dct['float64']
int_gastos_11 = type_dct['int64']


file_16 = [os.path.join(directory_gastos,i) for i in filelist_gastos if '2016.csv' in i][0]

df = pd.read_csv(file_16)
type_dct = {str(k): list(v) for k, v in df.groupby(df.dtypes, axis=1)}
float_gastos_16 = type_dct['float64']
int_gastos_16 = type_dct['int64']

# For both IN and FLOAT we filter by all features that are needed in each group of files

add_int_06 = [i for i in int_gastos_16 + int_gastos_11 if i not in int_gastos_06] 
add_int_11 = [i for i in int_gastos_06 + int_gastos_16 if i not in int_gastos_11] 
add_int_16 = [i for i in int_gastos_06 + int_gastos_11 if i not in int_gastos_16] 


add_float_06 = [i for i in float_gastos_16 + float_gastos_11 if i not in float_gastos_06] 
add_float_11 = [i for i in float_gastos_06 + float_gastos_16 if i not in float_gastos_11] 
add_float_16 = [i for i in float_gastos_06 + float_gastos_11 if i not in float_gastos_16]

# Creamos las variables que conforman el total de columnas necesarias para cada tabla

total_int_06 = int_gastos_06 + add_int_06
total_int_11 = int_gastos_11 + add_int_11
total_int_16 = int_gastos_16 + add_int_16

total_float_06 = float_gastos_06 + add_float_06
total_float_11 = float_gastos_11 + add_float_11
total_float_16 = float_gastos_16 + add_float_16

In [34]:

for date in range(2006,2019):
    if date <2011:
        file_path = [os.path.join(directory_gastos,i) for i in filelist_gastos if f'{date}.csv' in i]        
        df = pd.read_csv(file_path[0])
        columnas = [i for i in set(total_int_06+total_float_06) if i not in set(list(df.columns))]
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'gastos_epf_{date}.csv'), index=False)
    
    elif date in range(2011,2016):
        file_path = [os.path.join(directory_gastos,i) for i in filelist_gastos if f'{date}.csv' in i]        
        df = pd.read_csv(file_path[0])
        columnas =  [i for i in set(total_int_11+total_float_11) if i not in set(list(df.columns))]  
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'gastos_epf_{date}.csv'), index=False)
    
    else:
        file_path = [os.path.join(directory_gastos,i) for i in filelist_gastos if f'{date}.csv' in i]        
        df = pd.read_csv(file_path[0])
        columnas =  [i for i in set(total_int_16+total_float_16) if i not in set(list(df.columns))]  
        df_aux = pd.concat([df,pd.DataFrame(columns=columnas)], sort=True)
        df["id_d"] = df["ANOENC"].astype(int).astype(str) + df["NUMERO"].astype(int).astype(str) 
        df_aux.to_csv(os.path.join(os.path.dirname(file_path[0]),f'gastos_epf_{date}.csv'), index=False)

In [35]:

col_hogar = """ANOENC
NUMERO
CCAA
TAMAMU
DENSIDAD
FACTOR
NMIEMB
TAMAÑO
NUMACTI
NUMINACTI
NUMOCU
NUMNOCU
NUMESTU
NUMNOESTU
UC1
UC2
NORDENSP
EDADSP
SEXOSP
PAISNACSP
NACIONASP
PAISSP
CONVIVENCIASP
PAISPADRESP
PAISMADRESP
ESTUDREDSP
SITUREDSP
OCUSP
IMPEXACPSP
IMPEXAC
INTERINPSP
ACTESTBRED
SITPROF
TIPOCONT
REGTEN
TIPOEDIF
ZONARES
TIPOCASA
ANNOCON
AGUACALI
FUENAGUA
CALEF
FUENCALE
id_d"""

col_gasto = """ANOENC
CANTIDAD
CODIGO
GASTO
NACTOR
id_d"""

columnas_hogar = col_hogar.replace("\n", ", ")
columnas_gastos = col_gasto.replace("\n", ", ")

In [43]:
col = columnas_gastos.split(', ')

In [44]:
f = input('inserte aquí: ')

inserte aquí: hola

In [45]:
col.append(f)

In [ ]:
import pandas as pd
import os
directory_fil = '/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni'
filelist_fil = os.listdir(directory_fil)

file_path = [os.path.join(directory_fil,i) for i in filelist_fil if '2018.csv' in i][0]

df = pd.read_csv(file_path)

In [10]:
features = []
for i in list(df.columns ):
    if i in ('ANOENC_x', 'CCAA', 'id_d', 'ANOENC_y', 'CANTIDAD', 'CODIGO'):
        features.append(i + ' INTEGER, ')
    elif i in ('GASTO'):
        features.append(i + ' FLOAT, ')
    else:
        features.append(i + ' VARCHAR(200), ')
    
features_1 = ''.join(features)

In [12]:
query = """CREATE TABLE uni_ine (id SERIAL,""" + features_1 + """, CONSTRAINT indicators_pkey PRIMARY KEY (id))"""
query

'CREATE TABLE uni_ine (id SERIAL,ACTESTBRED VARCHAR(200), AGUACALI VARCHAR(200), ANNOCON VARCHAR(200), ANOENC_x INTEGER, CALEF VARCHAR(200), CCAA INTEGER, CONVIVENCIASP VARCHAR(200), DENSIDAD VARCHAR(200), EDADSP VARCHAR(200), ESTUDREDSP VARCHAR(200), FUENAGUA VARCHAR(200), FUENCALE VARCHAR(200), IMPEXAC VARCHAR(200), IMPEXACPSP VARCHAR(200), INTERINPSP VARCHAR(200), NACIONASP VARCHAR(200), NMIEMB VARCHAR(200), NORDENSP VARCHAR(200), NUMACTI VARCHAR(200), NUMERO VARCHAR(200), NUMESTU VARCHAR(200), NUMINACTI VARCHAR(200), NUMNOESTU VARCHAR(200), OCUSP VARCHAR(200), PAISMADRESP VARCHAR(200), PAISNACSP VARCHAR(200), PAISPADRESP VARCHAR(200), PAISSP VARCHAR(200), REGTEN VARCHAR(200), SEXOSP VARCHAR(200), SITPROF VARCHAR(200), SITUREDSP VARCHAR(200), TAMAMU VARCHAR(200), TIPOCASA VARCHAR(200), TIPOCONT VARCHAR(200), TIPOEDIF VARCHAR(200), UC1 VARCHAR(200), UC2 VARCHAR(200), ZONARES VARCHAR(200), id_d INTEGER, ANOENC_y INTEGER, CANTIDAD INTEGER, CODIGO INTEGER, GASTO FLOAT, NACTOR VARCHAR(200), , CONSTRAINT indicators_pkey PRIMARY KEY (id))'

In [16]:
variables = list(df.columns )
features_2 = ', '.join(variables)
features_2

'ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR'

In [19]:
features_query_2 = ', '.join(variables)

for date in range(2006,2019):
    if date <2019:
        file_path = [os.path.join(directory_fil,i) for i in filelist_fil if f'{date}.csv' in i]
        query = f"""
                LOAD DATA LOCAL INFILE '{file_path}'
                INTO TABLE uni_ine 
                FIELDS TERMINATED BY ',' 
                LINES TERMINATED BY '\n' 
                IGNORE 1 ROWS 
                ({features_query_2})"""
        print(query)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2006.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2007.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2008.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2009.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2010.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2011.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2012.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2013.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2014.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2015.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2016.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2017.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)

                LOAD DATA LOCAL INFILE '['/home/fserrey/gitrep/ACA_project/aca-water-affordability/notebooks/dec_notebooks/uni/uni_2018.csv']'
                INTO TABLE uni_ine
                FIELDS TERMINATED BY ','
                LINES TERMINATED BY '
'
                IGNORE 1 ROWS
                (ACTESTBRED, AGUACALI, ANNOCON, ANOENC_x, CALEF, CCAA, CONVIVENCIASP, DENSIDAD, EDADSP, ESTUDREDSP, FUENAGUA, FUENCALE, IMPEXAC, IMPEXACPSP, INTERINPSP, NACIONASP, NMIEMB, NORDENSP, NUMACTI, NUMERO, NUMESTU, NUMINACTI, NUMNOESTU, OCUSP, PAISMADRESP, PAISNACSP, PAISPADRESP, PAISSP, REGTEN, SEXOSP, SITPROF, SITUREDSP, TAMAMU, TIPOCASA, TIPOCONT, TIPOEDIF, UC1, UC2, ZONARES, id_d, ANOENC_y, CANTIDAD, CODIGO, GASTO, NACTOR)